# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual environments
# ==============================
venv/
ddienv/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Gradio temp files
# ==============================
.gradio/

# ==============================
# Large datasets
# ==============================
data/TWOSIDES.csv.gz
data/drug_pairs_labeled.csv
data/pair_stats.csv
data/smiles_cache.csv

# ==============================
# Feature matrices
# ==============================
data/features/

# ==============================
# Model weights
# ==============================
model.pkl
model_nn.pt

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Jupyter checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# Optional
# ==============================
certificate.pem